{{! **************************************************************************  }}
{{!  src/views/dashboard.handlebars }}
{{! **************************************************************************  }}

<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <section class='vh-100 gradient-custom'>
      <div class='container py-5 h-100'>
        <div class='row d-flex justify-content-center align-items-center h-100'>
          <div class='col-12 col-md-6 col-lg-4 col-xl-4'>
            <div class='card' style='border-radius: 1rem;'>
              <div class='card-body p-4 text-start'>
                <h3 class='fw-bold mb-3 text-center'>Profile ADMIN</h3>
                <div class='mb-4 text-center'>
                  <p class='font_id mb-2'><span class='fw-bold text-uppercase text-danger'>{{user.role}}:</span> <span id='userEmail'>{{user.email}}</span></p>
                </div>
                <div class='d-grid gap-2 mb-3'>
                  <a class='btn btn-dark' href='/admin/dashboard/products'>Products</a>
                </div>
                <div class='d-grid gap-2 mb-3'>
                  <a class='btn btn-dark' href='/admin/dashboard/users'>Users</a>
                </div>
                <div class='d-grid gap-2 mb-3'>
                  <a class='btn btn-outline-danger' href='/api/session/auth/logout'>Logout</a>
                </div>
                <div class='text-center border-top'>
                  <h4 class='mb-0 mt-3'>Freelo ECOM</h4>
                  <p class='form_p'>ONLINE <span class='fw-bold'>SHOP</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src='/js/adminProfile/index.js'></script>
  </body>
</html>